*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
/auth.json
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt

# Auto generated theme files
app/design/frontend/PSB/psbTrue/node_modules/
app/design/frontend/PSB/psbTrue/web/.DS_Store
app/design/frontend/PSB/psbTrue/.DS_Store
.DS_Store